@import "tailwindcss";

@layer components {
  .heroButton {
    @apply px-3 py-1 md:px-6 md:py-2 border border-[#242424] rounded-full uppercase text-xs md:text-sm tracking-widest text-gray-500 transition-all hover:border-[#F7AB0A]/40 hover:text-[#F7AB0A]/40;
  }
}

.contactInput {
  @apply w-full outline-none bg-slate-400/10 rounded-sm border-b px-3 py-2 sm:px-4 sm:py-3 md:px-6 md:py-4 border-[#242424] text-gray-500 placeholder-gray-500 transition-all focus:border-[#F7AB0A]/40 focus:text-white hover:border-[#F7AB0A]/40;
}

@theme{
  --breakpoint-xs: 320px;
  --breakpoint-phone-sm: 375px;
  --breakpoint-phone: 425px ;
}

/* globals.css */
@custom-variant phone-only (@media (width >= 425px) and (width <= 767px));



/* spinner code */
@keyframes ldio-bu6mgqsy1cr {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.ldio-bu6mgqsy1cr > div > div {
  transform-origin: 100px 100px;
  animation: ldio-bu6mgqsy1cr 3.0303030303030303s linear infinite;
  opacity: 1;
}
.ldio-bu6mgqsy1cr > div > div > div {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 90px;
  height: 90px;
  border-radius: 90px 0 0 0;
  transform-origin: 100px 100px;
}
.ldio-bu6mgqsy1cr > div div:nth-child(1) {
  animation-duration: 0.7575757575757576s;
}
.ldio-bu6mgqsy1cr > div div:nth-child(1) > div {
  background: #e15b64;
  transform: rotate(0deg);
}
.ldio-bu6mgqsy1cr > div div:nth-child(2) {
  animation-duration: 1.0101010101010102s;
}
.ldio-bu6mgqsy1cr > div div:nth-child(2) > div {
  background: #f47e60;
  transform: rotate(0deg);
}
.ldio-bu6mgqsy1cr > div div:nth-child(3) {
  animation-duration: 1.5151515151515151s;
}
.ldio-bu6mgqsy1cr > div div:nth-child(3) > div {
  background: #f8b26a;
  transform: rotate(0deg);
}
.ldio-bu6mgqsy1cr > div div:nth-child(4) {
  animation-duration: 3.0303030303030303s;
}
.ldio-bu6mgqsy1cr > div div:nth-child(4) > div {
  background: #abbd81;
  transform: rotate(0deg);
}
.loadingio-spinner-wedges-mco54cqj80h {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: #ffffff;
  margin-top: 17%;
  margin-left: 43%;
}
.ldio-bu6mgqsy1cr {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-bu6mgqsy1cr div {
  box-sizing: content-box;
}